html {
    height: 100%;
    margin: 0;
    
  }
  
  .body-div {
    padding: 0;
    width: auto;
    min-height: 100vh;
    background-color: #fefae0;
    font-family: "Fauna One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #2f1d0e;
  }
  
  /* NAV BAR */
  nav {
    width: 100vw;
    background-color: #606c38;
  }
  
  .navbar-brand {
    color: #2f1d0e;
    font-weight: bolder;
  }
  
  .navbar-nav .nav-link {
    color: #2f1d0e;
    font-weight: bold;
    padding: 1px 150px;
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #bc6c25;
  }
  
  /* FORMS */
  
  form .form-control,
  form .form-select {
    background-color: #fcf5d8;
  }
  
  form .form-control:focus {
    background-color: #fcf5d8;
  }
  
  /* BUTTONS */
  
  /* submit button */
  .submit-button {
    background-color: #606c38;
    color: #fefae0;
    transition: color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #283618;
    color: #fefae0;
  }
  
  /* signup button */
  .signup-button {
    background-color: #606c38;
    color: #fefae0;
    transition: color 0.3s;
  }
  
  .signup-button:hover {
    background-color: #283618;
    color: #fefae0;
  }
  
  /* login button */
  .login-button {
    background-color: #283618;
    color: #fefae0;
    transition: color 0.3s;
  }
  
  .login-button:hover {
    background-color: #606c38;
    color: #fefae0;
  }
  
  /* SIGNUP LOGIN */
  .form-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
  }
  
  /* ACCOUNT INFO */
  
  .account-card {
    color: #2f1d0e;
  }
  .account-card .card-header {
    background-color: #f6e4c0;
  }
  
  .account-card .card-body {
    background-color: #fcf5d8;
  }
  
  /* DASHBOARD 
    .locations-container-card {
      background-color: #FCF5D8;
      border: 1px solid #F6E4C0;
      border-radius: 8px;
    }
    */
  
  .location-card {
    background-color: #fcf5d8;
    border: 1px solid #f6e4c0;
  }
  
  .location-open {
    color: #2f1d0e;
  }
  
  .location-open:hover {
    color: #606c38;
    transition: 0.3s;
  }
  
  /* LOCATION VIEW */
  .location-container {
    width: 70%;
  }
  
  
  /* ADMIN DASHBOARD */
  .card.list-users,
  .card.list-users .card-body,
  .card.list-users .table,
  .card.list-users .table thead th,
  .card.list-users .table tbody td {
    background-color: #fcf5d8;
  }
  
  
  .card.list-users .table tbody td a {
    color: #606c38;
    text-align: center;
    
  }
  
  
  .list-categories,
  .list-categories .list-group-item {
    background-color: #fcf5d8;
  
  }
  
  .list-categories form input {
    background-color: #f6e4c0;
    width: 70%;
    vertical-align: middle;
  
  }
  
  .list-categories form .submit-button {
    width: 50%;
    border-radius: 5px;
    text-align: center;
  
  }
  
  .list-categories .list-group-item a {
    color: #606c38;
    text-align: center;
    
  }
  
  
  
  